MONGODB_USERNAME=PLACEHOLDER_USERNAME
MONGODB_PASSWORD=PLACEHOLDER_PASSWORD
MONGODB_DATABASE=PLACEHOLDER_DATABASE
MONGODB_URI=mongodb+srv://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@cluster0.wq7x4l6.mongodb.net/${MONGODB_DATABASE}?retryWrites=true&w=majority&appName=Cluster0

RESEND_API_KEY=PLACEHOLDER_RESEND_API_KEY

# npx auth secret # Added by `npx auth`. Read more: https://cli.authjs.dev
NEXTAUTH_SECRET=PLACEHOLDER_NEXTAUTH_SECRET

OPENAI_API_KEY=PLACEHOLDER_OPENAI_API_KEY
GOOGLE_GENERATIVE_AI_API_KEY=PLACEHOLDER_GOOGLE_AI_API_KEY